.app {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  background: #ffffff;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.app::-webkit-scrollbar {
  display: none;
}

main {
  position: relative;
}

.page {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
